* {
	margin: 5px;
}

body {
	background-color: rgb(244, 240, 240);
}

.cart-aside-container {
	position: fixed; /* Fixed positioning */
	top: 25px; /* Distance from the top */
	right: 50px; /* Distance from the right */
	width: 300px; /* Width of the cart */
	background-color: rgb(254, 254, 254); /* White background for contrast */
	border-radius: 5px; /* Rounded corners */
	padding: 30px; /* Padding inside the cart */
	box-shadow: 0 2px 10px rgba(2, 137, 117, 0.1); /* Subtle shadow */
	z-index: 1000; /* Ensure it's on top of other elements */
}

.products-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	width: fit-content;
}

.item-container {
	border-radius: 5px;
	padding-top: 30px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

.product-image {
	/* Images will overflow their container by default. To
    prevent this, we set max-width and max-height to 100%
    so they stay inside their container. */
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
}

/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 2000px or less, we
   will divide the grid into 7 columns instead of 8. */
@media (max-width: 2000px) {
	.products-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* This @media means when the screen width is 1600px or
		 less, we will divide the grid into 6 columns. */
@media (max-width: 1300px) {
	.products-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.product-image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 180px;
	}

	.cart-aside-container {
		position: fixed; /* Fixed positioning */
		top: 25px; /* Distance from the top */
		right: 30px; /* Distance from the right */
		width: 250px; /* Width of the cart */
		background-color: rgb(217, 217, 233); /* White background for contrast */
		border-radius: 5px; /* Rounded corners */
		padding: 30px; /* Padding inside the cart */
		box-shadow: 0 2px 10px rgba(2, 137, 117, 0.1); /* Subtle shadow */
		z-index: 1000; /* Ensure it's on top of other elements */
	}
}

@media (max-width: 1240px) {
	.products-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.product-image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 180px;
	}
}

@media (max-width: 1000px) {
	.products-grid {
		grid-template-columns: repeat(2, 230px);
		column-gap: 5px;
	}

	.product-image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 150px;
	}

	.cart-aside-container {
		position: fixed; /* Fixed positioning */
		top: 25px; /* Distance from the top */
		right: 30px; /* Distance from the right */
		width: 220px; /* Width of the cart */
		background-color: rgb(217, 217, 233); /* White background for contrast */
		border-radius: 5px; /* Rounded corners */
		padding: 30px; /* Padding inside the cart */
		box-shadow: 0 2px 10px rgba(2, 137, 117, 0.1); /* Subtle shadow */
		z-index: 1000; /* Ensure it's on top of other elements */
	}
}

@media (max-width: 800px) {
	.products-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.cart-aside-container {
		display: flex;
		flex-direction: column;

		position: static; /* Reset position to flow with the document */

		width: 300px; /* Width of the cart */
		background-color: rgb(217, 217, 233); /* White background for contrast */
		border-radius: 5px; /* Rounded corners */
		padding: 30px; /* Padding inside the cart */
		margin-top: 30px; /* Add some space above */
	}
}

@media (max-width: 575px) {
	.products-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.product-image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 120px;
	}

	.cart-aside-container {
		display: flex;
		flex-direction: column;

		position: static; /* Reset position to flow with the document */

		width: 220px; /* Width of the cart */
		background-color: rgb(217, 217, 233); /* White background for contrast */
		border-radius: 5px; /* Rounded corners */
		padding: 30px; /* Padding inside the cart */
		margin-top: 30px; /* Add some space above */
	}
}

@media (max-width: 450px) {
	.products-grid {
		display: flex;
		flex-direction: column;
	}

	.product-image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 200px;
	}

	.page-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.cart-aside-container {
		display: flex;
		flex-direction: column;

		position: static; /* Reset position to flow with the document */

		width: 220px; /* Width of the cart */
		background-color: white; /* White background for contrast */
		border-radius: 5px; /* Rounded corners */
		padding: 30px; /* Padding inside the cart */
		margin-top: 30px; /* Add some space above */
	}
}

.add-to-cart-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgb(226, 220, 233);
	border-radius: 10px;
	border: 0px;
	padding: 10px;
	color: rgb(33, 22, 4);
	cursor: pointer;
}

.add-to-cart-button:hover {
	background-color: rgb(152, 124, 179);
}
